.nav {
    padding: 24px;
    background: #070412;
    border-right: 1px solid #1a1a1a;

    &__links {
        list-style: none;
        padding-left: 0;
    }

    &__link {
        color: #2de2e6;
        font-size: 12px;

        line-height: 2;
    }
}